/.vscode
/phdna
/phdna_out
/phdna_out2
/__pycache__
/node_modules
/phdna_test_outside
/fastDNA/.vs
/phastdna-venv
/ete4_venv
/misc/sp_ex_optuna_final
/misc/phastdna_galiez_species_explore_optuna_final
/misc/phastdna_galiez_family_explore_optuna_final
/misc/phastdna_galiez_family_explore_optuna_final_predicttest
/misc/phastdna_galiez_family_explore_optuna_final_predicttest2
/venv